<div> 
    <label>Delivery Address</label> 
    <div>
     <input type="text" name="Area">
     <input type="number" name="HouseNumber">
     <input type="number" name="block">
     <input type="number" name="TheStreet">
    </div>
 </div>