<form action="auth/forgotPassword" method="post">
    <label>emailAddress</label>
<input type="emailAddress" name="emailAddress">
<label >Password</label>
<input type="password" name="password">
<label>Confirm Password</label>
<input type="password" name="confirmpassword">

<input type ="submit" value="update password">
</form>

<label > </label>