<h2 style="margin: 30px auto">Forget Password</h2>

<form method="POST" action="/auth/forgetpassword" style="top: 470px">
  <div>
    <label>Email</label>
    <input type="email" name="emailAddress" />
  </div>
  <br />
  <div>
    <label>Password</label>
    <input type="text" name="password" />
  </div>
  <br />
  <div>
    <label>Confirm Password</label>
    <input type="text" name="password" />
  </div>

  <br />
  <div class="inputGroup inputGroup3">
    <button id="login" type="submit">Edit</button>
  </div>
</form>

<div id="footer" style="position: relative; top: 570px">
  <p>© eastFood</p>
</div>
