<h3>>Sign in  to plase yoer ordeer </h3>

<form method="POST" action="/auth/signin">
    <div>
        <label>Email Address </label>
        <input type="email" name="emailAddress">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <input type="submit">
</form> 