<div id="mid-section">
  <div class="mid-section-header">
    <h2>Admin</h2>
  </div>

  <div class="cards">
    <a href="/admin/products">
      <div class="box">
        <div class="in-cards">
          <div>
            <h3>Edit Products</h3>
          </div>
        </div>
      </div></a
    >

    <a href="/mainDishes">
      <div class="box">
        <div class="in-cards">
          <div>
            <h3></h3>
          </div>
        </div></div
    ></a>

    <a href="/drinks">
      <div class="box">
        <div class="in-cards">
          <div>
            <h3></h3>
          </div>
        </div></div
    ></a>
  </div>
</div>
