
<h3> Change Password </h3>


<form method="POST" action="/user/Change"> 

    <div>
        <label>current Password</label>
        <input type="password" name="currentPassword" required>
    </div>
    <div>
        <label>confirm new Password</label>
        <input type="password" name="confirmPassword" required>
    </div>

    <input type="submit">
</form>