<h3>Profile</h3>

<table class="Profile-t">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
    </tr>
    <tr>
        <td>
        </td>
            <td>
          </form>
          <a href="/user/edit?id=<%= currentUser._id %>">UPDATE</a>
        </td>
      </tr>
</table>