<h3>>Sign in  to plase yoer ordeer </h3>

<form>
    <div>
        <label>Email </label>
        <input type="email" name="Emails">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <input type="submit">
</form> 