<div id="mid-section">
  <div class="mid-section-header">
    <h2>Drinks</h2>
    <p>Explore 19 Melbourne neighborhoods. Which are right for you?</p>
  </div>
  <div class="cards">
    <div class="box b-1">
      <div class="in-cards">
        <div>
          <h3>Kunaffa</h3>
          <p>price: 1.400 BD</p>
        </div>
      </div>
    </div>

    <div class="box b-2">
      <div class="in-cards">
        <div>
          <h3>Basbosa</h3>
          <p>price: 1.200 BD</p>
        </div>
      </div>
    </div>

    <div class="box b-3">
      <div class="in-cards">
        <div>
          <h3>Baqlawa</h3>
          <p>price: 1.800 BD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-bottom">
    <div class="cb-1">
      <p>Hip Terrace Houses Anything Goes Vintage Clothing</p>
    </div>
    <div class="cb-1">
      <p>Cake Shops Backpackers Hippies Beach Culture</p>
    </div>
    <div class="cb-1">
      <p>
        Coffee Culture Working Nine To Five Federation Square Flinders Street
        Station
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="box b-1">
      <div class="in-cards">
        <div>
          <h3>Kunaffa</h3>
          <p>price: 1.400 BD</p>
        </div>
      </div>
    </div>

    <div class="box b-2">
      <div class="in-cards">
        <div>
          <h3>Basbosa</h3>
          <p>price: 1.200 BD</p>
        </div>
      </div>
    </div>

    <div class="box b-3">
      <div class="in-cards">
        <div>
          <h3>Baqlawa</h3>
          <p>price: 1.800 BD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-bottom">
    <div class="cb-1">
      <p>Hip Terrace Houses Anything Goes Vintage Clothing</p>
    </div>
    <div class="cb-1">
      <p>Cake Shops Backpackers Hippies Beach Culture</p>
    </div>
    <div class="cb-1">
      <p>
        Coffee Culture Working Nine To Five Federation Square Flinders Street
        Station
      </p>
    </div>
  </div>
</div>
