<div id="mid-section">
  <div class="mid-section-header">
    <h2>Drinks</h2>
  </div>
  <div class="cards">
    <div class="box drinks-1">
      <div class="in-cards">
        <div>
          <h3>Pepsi</h3>
          <p>price: 0.500 BD</p>
        </div>
      </div>
    </div>

    <div class="box drinks-2">
      <div class="in-cards">
        <div>
          <h3>Pepsi Diet</h3>
          <p>price: 0.500 BD</p>
        </div>
      </div>
    </div>

    <div class="box drinks-3">
      <div class="in-cards">
        <div>
          <h3>Orange Juice</h3>
          <p>price: 1.100 BD</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="box drinks-4">
      <div class="in-cards">
        <div>
          <h3>Banana Juice</h3>
          <p>price: 1.100 BD</p>
        </div>
      </div>
    </div>

    <div class="box drinks-5">
      <div class="in-cards">
        <div>
          <h3>Mojito Mix Berry</h3>
          <p>price: 2.200 BD</p>
        </div>
      </div>
    </div>

    <div class="box drinks-6">
      <div class="in-cards">
        <div>
          <h3>Mojito Pomegranate</h3>
          <p>price: 1.800 BD</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <p>© eastFood</p>
</div>
