body {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0;
  background-color: rgb(235, 235, 235);
}
nav {
  background-color: #454545;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
h1 {
  color: white;
  font-family: "Bree Serif", serif;
  font-size: 40px;
  margin: 10px 20px;
}
i {
  margin: 35px 20px;
}
h3 {
  color: white;
  font-family: "Nunito", sans-serif;
  margin: 20px 20px;
  font-weight: 700;
}
.rt {
  display: flex;
  justify-content: space-between;
}
.rt h3 {
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: black;
}
#mid-section {
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}
.mid-section-header p {
  font-size: 15px;
  margin-top: 0;
}
h2 {
  font-size: 40px;
  margin: 10px auto 30px;
  font-weight: 900;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 20px;
}
.box {
  height: 320px;
  width: 405px;
  color: white;
}
.b-1 {
  background-image: url("https://img.freepik.com/free-photo/turkish-kunefe-garnished-with-pistachio_140725-3971.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}
.b-2 {
  background-image: url("https://images.pexels.com/photos/3298637/pexels-photo-3298637.jpeg?cs=srgb&dl=pexels-cottonbro-studio-3298637.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.b-3 {
  background-image: url("https://cdn.create.vista.com/api/media/medium/185258892/stock-photo-tattooed-female-bartender-showing-colleague?token=");
  background-repeat: no-repeat;
  background-size: cover;
}
.desserts-1 {
  background-image: url("../images/Kunafa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.desserts-2 {
  background-image: url("../images/Basbosa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.desserts-3 {
  background-image: url("../images/Baqlawa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mainDishes-1 {
  background-image: url("../images/Maharaja\ Chicken\ Biryani.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.mainDishes-2 {
  background-image: url("../images/Chicken\ With\ Rice.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.mainDishes-3 {
  background-image: url("../images/Mini\ Italy.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.mainDishes-4 {
  background-image: url("../images/Chicken\ Kebab.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.mainDishes-5 {
  background-image: url("../images/Chilo\ Kebab\ With\ Rice.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.mainDishes-6 {
  background-image: url("../images/Family\ Lamb\ Shank\ Meal.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.drinks-1 {
  background-image: url("../images/Pepsi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drinks-2 {
  background-image: url("../images/Pepsi\ Diet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drinks-3 {
  background-image: url("../images/Orange\ Juice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drinks-4 {
  background-image: url("../images/Banana\ Juice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drinks-5 {
  background-image: url("../images/Mojito\ Mix\ Berry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drinks-6 {
  background-image: url("../images/Mojito\ Pomegranate.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.in-cards {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: inherit;
  height: inherit;
}
.in-cards h3 {
  margin: 0 10px;
  font-size: 30px;
}
.in-cards p {
  margin: 10px 10px;
  font-size: 16px;
}
.cards-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}
.cb-1 {
  width: 405px;
  background-color: #efefef;
}
#footer {
  text-align: center;
  background-color: #2b2d2e;
  color: white;
  height: 100px;
  margin-top: 60px;
}
#footer p {
  padding: 40px;
  font-size: small;
  font-weight: 100;
}
.form-footer {
  display: flex;
  justify-content: space-between;
}

