img{
   content: url("https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Banana_Juice1631093460839"); 

}
img{
    content: url("https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Avocado_Juice1631093337903");

}
img{
    content: url("https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Watermelon_Juice1631093438863");
}