img {
    content: url("https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Maharaja_Chicken_Biryani")

}

img{
    content: url("https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Chicken_with_Rice");
}
img{
    content: url("https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Mini_Italy1623326290961");
    
}
img{
    content: url("https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Chicken_Kebab");
}
