<div id="mid-section">
  <div class="mid-section-header">
    <h2>Main Dishes</h2>
  </div>
  <div class="cards">
    <div class="box mainDishes-1">
      <div class="in-cards">
        <div>
          <h3>Maharaja Chicken Biryani</h3>
          <p>price: 2.700 BD</p>
        </div>
      </div>
    </div>

    <div class="box mainDishes-2">
      <div class="in-cards">
        <div>
          <h3>Chicken With Rice</h3>
          <p>price: 2.100 BD</p>
        </div>
      </div>
    </div>

    <div class="box mainDishes-3">
      <div class="in-cards">
        <div>
          <h3>Mini Italy</h3>
          <p>price: 3.400 BD</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="box mainDishes-4">
      <div class="in-cards">
        <div>
          <h3>Chicken Kebab</h3>
          <p>price: 1.400 BD</p>
        </div>
      </div>
    </div>

    <div class="box mainDishes-5">
      <div class="in-cards">
        <div>
          <h3>Chilo Kebab With Rice</h3>
          <p>price: 2.700 BD</p>
        </div>
      </div>
    </div>

    <div class="box mainDishes-6">
      <div class="in-cards">
        <div>
          <h3>Family Lamb Shank Meal</h3>
          <p>price: 14.5 BD</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <p>© eastFood</p>
</div>
