<form method="POST" action="/mainDishes">
<div id="mid-section">
  <div class="mid-section-header">
    <h2>Main Dishes</h2>
    <p>Explore 19 Melbourne neighborhoods. Which are right for you?</p>
  </div>
  <div class="cards">
    <div class="box mainDishes-1">
      <div class="in-cards">
        <div>
          <h3>Maharaja Chicken Biryani</h3>
          <p>
            <select>
              <option value="price">price</option>
              <option value="price">1 person-2.000 BHD</option>
              <option value="price">2 people-3.600 BHD</option>
              <option value="price">4 people-5.500 BHD</option>
            </select>
          </p>
        </div>
      </div>
    </div>

<div class="box mainDishes-2">
  <div class="in-cards">
    <% products.forEach((product) => { %>
    <div>
      <h3><%= product.name %></h3>
      <p><%= product.price %></p>
      <button onclick="addToCart('<%= product._id %>')">Add to Cart</button>
    </div>
    <% }) %>
  </div>
</div>

    <div class="box mainDishes-3">
      <div class="in-cards">
        <div>
         <h3>Mini Italy</h3>
          <p></p>price: 3.400 BD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-bottom">
    <div class="cb-1">
      <p>Hip Terrace Houses Anything Goes Vintage Clothing</p>
    </div>
    <div class="cb-1">
      <p>Cake Shops Backpackers Hippies Beach Culture</p>
    </div>
    <div class="cb-1">
      <p>
        Coffee Culture Working Nine To Five Federation Square Flinders Street
        Station
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="box mainDishes-4">
      <div class="in-cards">
        <div>
          <h3>Chicken Kebab</h3>
          <p>price: 1.400 BD</p>
        </div>
      </div>
    </div>

    <div class="box mainDishes-5">
      <div class="in-cards">
        <div>
          <h3>Chilo Kebab With Rice</h3>
          <p>price: 2.700 BD</p>
        </div>
      </div>
    </div>

    <div class="box mainDishes-6">
      <div class="in-cards">
        <div>
          <h3>Family Lamb Shank Meal</h3>
          <p>price: 14.5 BD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-bottom">
    <div class="cb-1">
      <p>Hip Terrace Houses Anything Goes Vintage Clothing</p>
    </div>
    <div class="cb-1">
      <p>Cake Shops Backpackers Hippies Beach Culture</p>
    </div>
    <div class="cb-1">
      <p>
        Coffee Culture Working Nine To Five Federation Square Flinders Street
        Station
      </p>
    </div>
  </div>
</div>
<script>
  function addToCart(productsId) {
    fetch('/cart', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ productsId })
    })
    .then(response => {
      if (response.ok) {
        alert('Item added to cart');
      } else {
        console.error('Failed to add item to cart.');
      }
    })
    .catch(error => {
      console.error(error);
    });
  }
</script>
</form>