
<h1> Main Dishes </h1>
<div >
    <div>
        <img src="https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Maharaja_Chicken_Biryani" alt="Maharaja Chicken Biryani">
        <h3> Maharaja Chicken Biryani</h3>
        <select>
            <option value="price">price</option>
            <option value="price"> 1 Person-2.000 BHD</option>
            <option value="price"> 2 Persons-3.600 BHD</option>
            <option value="price"> 4 Persons-5.500 BHD</option>
            
        </select>
    </div>
<div>
    <img src="https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Chicken_with_Rice" alt="Chicken With Rice">
<h3> Chicken With Rice</h3>
<select>
    <option value="price">price</option>
    <option value="price"> 1 Person-2.000 BHD</option>
    <option value="price"> 2 Persons-3.000 BHD</option>
    <option value="price"> 4 Persons-5.000 BHD</option>
    
</select>
<div>
    <img src="https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Mini_Italy1623326290961" alt="Mini Italy">
    <h3> Mini Italy</h3>
    <h4>price:3.500</h4>
</div>
<div>
    <img src="https://nectarsapp.s3.me-south-1.amazonaws.com/media/606f1acdcd2483697904a75f/item/Chicken_Kebab" alt="Chicken_Kebab">
    <h3>Chicken_Kebab</h3>
    <h4>price:2.100 BHD</h4>
</div>

</div>
</div>
