<div id="mid-section">
  <div class="mid-section-header">
    <h2>Main Dishes</h2>
    <p>Explore 19 Melbourne neighborhoods. Which are right for you?</p>
  </div>
  <div class="cards">
    <div class="box b-21">
      <div class="in-cards">
        <div>
          <h3>Maharaja Chicken Biryani</h3>
          <p>
            <select>
              <option value="price">price</option>
              <option value="price">1 person-2.000 BHD</option>
              <option value="price">2 people-3.600 BHD</option>
              <option value="price">4 people-5.500 BHD</option>
            </select>
          </p>
        </div>
      </div>
    </div>

    <div class="box b-22">
      <div class="in-cards">
        <div>
          <h3>Chicken With Rice</h3>
          <p>price: 2.100 BD</p>
        </div>
      </div>
    </div>

    <div class="box b-23">
      <div class="in-cards">
        <div>
          <h3>Mini Italy</h3>
          <p>price: 3.400 BD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-bottom">
    <div class="cb-1">
      <p>Hip Terrace Houses Anything Goes Vintage Clothing</p>
    </div>
    <div class="cb-1">
      <p>Cake Shops Backpackers Hippies Beach Culture</p>
    </div>
    <div class="cb-1">
      <p>
        Coffee Culture Working Nine To Five Federation Square Flinders Street
        Station
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="box b-24">
      <div class="in-cards">
        <div>
          <h3>Chicken Kebab</h3>
          <p>price: 1.400 BD</p>
        </div>
      </div>
    </div>

    <div class="box b-25">
      <div class="in-cards">
        <div>
          <h3>Chilo Kebab With Rice</h3>
          <p>price: 2.700 BD</p>
        </div>
      </div>
    </div>

    <div class="box b-26">
      <div class="in-cards">
        <div>
          <h3>Family Lamb Shank Meal</h3>
          <p>price: 14.5 BD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-bottom">
    <div class="cb-1">
      <p>Hip Terrace Houses Anything Goes Vintage Clothing</p>
    </div>
    <div class="cb-1">
      <p>Cake Shops Backpackers Hippies Beach Culture</p>
    </div>
    <div class="cb-1">
      <p>
        Coffee Culture Working Nine To Five Federation Square Flinders Street
        Station
      </p>
    </div>
  </div>
</div>
