<!-- <form method="POST" action="/details">
<div>
    <h2></h2>
<h2></h2>
<button onclick="addToCart(')">Add to Cart</button>

</div>
<script>
    function addToCart(productsId) {
      fetch('/cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productsId })
      })
      .then(response => {
        if (response.ok) {
          alert('Item added to cart');
        } else {
          console.error('Failed to add item to cart.');
        }
      })
      .catch(error => {
        console.error(error);
      });
    }
  </script>
  </form> -->