<div id="mid-section">
    <div class="mid-section-header">
       <h2>Menu</h2>
    </div>

    <div class="cards">

        <a href="">
          <div class="box b-1">
              <div class="in-cards">
                  <div>
                       <h3>Desserts</h3>
                 </div>
             </div>
         </div></a>


         <a href="">
        <div class="box b-2">
            <div class="in-cards">
                <div>
                   <h3>Main Dishes</h3>
               </div>
           </div>
       </div></a>


       <a href="">
       <div class="box b-3">
           <div class="in-cards">
                  <div>
                     <h3>Drinks</h3>
                  </div>
           </div>
      </div></a>


      
    </div>
  </div>