<form method="POST"  action="/cart">
<h1>Cart</h1>

<% if (products.length === 0) { %>
  <p>Your cart is empty.</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.desc %></td>
          <td>
          </td>
          
          <td>
            <button onclick="removeProduct('<%= product._id %>')">Remove Product</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

  </form>


  <script>
  function updateQuantity(productId, newQuantity) {
    fetch(`/cart/${productId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ quantity: newQuantity })
    })
    .then(response => {
      if (response.ok) {
        location.reload(); // Refresh the page to update the quantity
      } else {
        console.error('Failed to update quantity.');
      }
    })
    .catch(error => {
      console.error(error);
    });
  }

  function removeproduct(productId) {
    fetch(`/cart/${productId}`, {
      method: 'DELETE'
    })
    .then(response => {
      if (response.ok) {
        location.reload(); // Refresh the page to remove the product
      } else {
        console.error('Failed to remove product.');
      }
    })
    .catch(error => {
      console.error(error);
    });
  }

  </script>