<h1>Desserrs  Menu</h1>

<div>
    <div>
        <img src="" alt="">
        <h3>Kunaffa</h3>
        <h4>price: 1.400 BD </h4>

    </div>
    <div>
        <img src="" alt="">
        <h3>Basbosa</h3>
        <h4>price: 1.200 BD </h4>
    </div>
    <div>
        <img src="" alt="">
        <h3>Aasedha</h3>
        <h4>price: 1.200 BD</h4>

    </div>




    <div>
        <img src="" alt="">
        <h3>Rangeenah</h3>
        <h4>price: 2.400 BD</h4>

    </div>
    <div>
        <img src="" alt="">
        <h3>Baqlawa</h3>
        <h4>price: 1.800 BD</h4>

    </div>
    <div>
        <img src="" alt="">
        <h3>Qeymat</h3>
        <h4>price: 0.600 BD</h4>

    </div>
</div>