<div id="mid-section">
  <div class="mid-section-header">
    <h2>Desserts</h2>
  </div>
  <div class="cards">
    <div class="box desserts-1">
      <div class="in-cards">
        <div>
          <h3>Kunaffa</h3>
          <p>price: 1.400 BD</p>
        </div>
      </div>
    </div>

    <div class="box desserts-2">
      <div class="in-cards">
        <div>
          <h3>Basbosa</h3>
          <p>price: 1.200 BD</p>
        </div>
      </div>
    </div>

    <div class="box desserts-3">
      <div class="in-cards">
        <div>
          <h3>Baqlawa</h3>
          <p>price: 1.800 BD</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <p>© eastFood</p>
</div>
