body {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: "Bree Serif", serif;
  font-size: 40px;
  margin: 5px 20px;
}
.rt {
  display: flex;
  justify-content: space-between;
}
.rt h3 {
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: black;
}
#mid-section {
  text-align: center;
  font-weight: 700;
}
.mid-section-header p {
  font-size: 15px;
  margin-top: 0;
}
.mid-section-header h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 900;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.box {
  height: 320px;
  width: 405px;
  color: white;
}
.b-1 {
  background-image: url("../images/fitzroy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.b-2 {
  background-image: url("../images/st-kilda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.b-3 {
  background-image: url("../images/central-business-district.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.in-cards {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: inherit;
  height: inherit;
}
.in-cards h3 {
  margin: 0 10px;
  font-size: 30px;
}
.in-cards p {
  margin: 10px 10px;
  font-size: 16px;
}

#footer {
  text-align: center;
  background-color: #2b2d2e;
  color: white;
  height: 100px;
  margin-top: 60px;
}
#footer p {
  padding: 40px;
  font-size: small;
  font-weight: 100;
}
